
@import url('https://fonts.googleapis.com/css?family=Titillium Web');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@700&display=swap');
* {
    margin: auto;
}

#img-boutonretour {
    height: 90px;
}

#titre{
    color: white;
    font-weight: bold;
    font-family: 'Titillium Web';
}

#text-horaire {
    font-family: 'Titillium Web';
}

#text-matiere{
    color: white;
    font-weight: bold;
    font-family: 'Titillium Web';
    text-shadow: 4px 4px 6px rgba(0,0,0,0.6);
}

#text-matiere-long{
    color: white;
    font-weight: bold;
    font-family: 'Titillium Web';
    font-size: 25px;
}

.container-body {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 0.8fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    align-items: center;
}

#menu-dropdown {
    width: 100vw;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

#dropdown {
    width: 15vw;
    height: 5vh;
    font-size: 30px;
    text-align: center;
    box-shadow: 0px 4px 6px -5px #000000;
}
