.codeList form{
    display: flex;
    align-items: center;
    gap: 50px;
}

.codeList{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    min-height: 70vh;
    margin-top: 20px;
    position: relative;
}

.add-ade-code-form{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}

.add-ade-code-form select{
    width: 200px;
    text-align: center;
    font-size: 22px;
}

.add-ade-code-form input[type=submit]{
    background-color: #F0AB02;
    padding: 10px 30px;
}

.codeList input[type=image]{
    width: 40px;
    height: 40px;
}

.codeList form p{
    margin: 0;
    line-height: 0;
    font-size: 20px;
    width: fit-content;
}

.year-container {
    width: calc(100%/3);
    border: solid 1px ;
}

.year-container h2{
    margin: 0 auto;
    font-family: "Titillium Web", serif;
    font-weight: 600;
    font-size: 44px;
}

.all-year-container{
    width: 100vw;
    display: flex;
}

input{
    border: none;
}

.delete-btn{
    background-color: #f16a7a;
    color: #3d3d3d;
    font-weight: bold;
    font-family: "Titillium Web", serif;
    border-radius: 10px;
    height: 50px;
    width: 200px;
}