.container{
    display: flex;
    width: 80vw;
    margin: 25vh auto;
    justify-content: space-around;
}


.container a{
    width: 200px;
    color: black;
    text-decoration: none;
    height: 200px;
    transition: all 0.1s ease-in;
    cursor: pointer;
}

.container a > img{
    width: 15vw;
    height: 15vw;
}

.container a > p {
    font-size: 42px;
    padding-top: 20px;
    font-weight: bolder;
    text-align: center;
}

.container a:hover{
    color: black;
    transform: scale(1.1);
}
