@keyframes appear {
    0%{
        top: 0;
    }
    10%{
        top: 20vh;
    }
    90%{
        top: 20vh;
        opacity: 0.9;
    }
    100%{
        opacity: 0;
    }

}

.notification{
    position: absolute;
    width: 400px;
    height: 100px;
    border-radius: 5px;
    line-height: 0;
    top: 0;
    left: calc(50vw - 200px);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.9;
    font-size: 26px;
    animation: 3s appear linear forwards;
    z-index: 2;
    color: #383838;
}

.success{
    background-color: #6CD088;
}

.error{
    background-color: #de3448;
}
